.profile__name {
  grid-area: n;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .profile__name {
    font-size: 36px;
  }
}

@media screen and (max-width: 639px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.21;
  }
}
