.form__opt-link {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
