.profile__info {
  display: grid;
  grid-template:
    "n e" min-content
    "a a" min-content;
  gap: 5px 20px;
  margin: 18px 30px 0;
}

@media screen and (max-width: 639px) {
  .profile__info {
    margin: 27px 0 0;
    gap: 7px 10px;
  }
}
