.page {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 60px;
}

@media screen and (max-width: 639px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
