.popup__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: min-content;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: -38px;
  top: -38px;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 639px) {
  .popup__close-button {
    right: 4px;
    top: -45px;
  }
}
