.profile__about {
  margin: 0;
  grid-area: a;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .profile__about {
    font-size: 16px;
  }
}

@media screen and (max-width: 639px) {
  .profile__about {
    font-size: 14px;
    text-align: center;
  }
}
