.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
}

@media screen and (max-width: 639px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
  }
}
