.card__like-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  height: min-content;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 6px;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
