.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
}

.header__link:hover {
  color: #fff9;
}

@media screen and (max-width: 639px) {
  .header__link {
    font-size: 14px;
    line-height: 1.21;
    margin-right: 30px;
  }
}
