.form__title_type_auth {
  text-align: center;
  font-size: 24px;
}

@media screen and (max-width: 639px) {
  .form__title_type_auth {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 900;
  }
}
