.profile__edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  grid-area: e;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 0;
  align-self: end;
  margin: 0 0 12px 0;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 639px) {
  .profile__edit-button {
    align-self: center;
    width: 18px;
    height: 18px;
    margin: 0;
  }
}
