.main {
  width: 68.9%;
}

@media screen and (max-width: 1279px) {
  .main {
    width: 100%;
  }
}

@media screen and (max-width: 639px) {
  .main {
    box-sizing: border-box;
    padding-left: 19px;
    padding-right: 19px;
  }
}
