.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 430px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #000;
  box-sizing: border-box;
  padding: 60px 36px;
  position: relative;
}
