.footer {
  width: 68.9%;
  margin-top: 66px;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 639px) {
  .footer {
    box-sizing: border-box;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 50px;
  }
}
