.places__grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 362px);
  grid-auto-rows: 362px;
  gap: 20px 18px;
}

@media screen and (max-width: 1279px) {
  .places__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .places__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 362px);
  }
}

@media screen and (max-width: 639px) {
  .places__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 362px);
  }
}
