.popup__content {
  width: 430px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #000;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  position: relative;
}

@media screen and (max-width: 639px) {
  .popup__content {
    width: 282px;
    padding: 26px 22px 25px;
  }
}

/*todo: refactor*/
