.form__input-container {
  display: block;
  position: relative;
}

.form__input-container:first-of-type {
  margin-top: 18px;
}

@media screen and (max-width: 639px) {
  .form__input-container:first-of-type {
    margin-top: 45px;
  }
}
