.popup__image-container {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #000;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: 0;
  width: min-content;
  height: min-content;
}

@media screen and (max-width: 639px) {
  .popup__image-container {
    width: 282px;
    padding: 26px 22px 25px;
  }
}
