.form_type_auth {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 0;
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 639px) {
  .form_type_auth {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 43px;
  }
}
