.popup__input {
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  margin-top: 24px;
}

.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
