.profile__avatar-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms, background-color 250ms ease-in-out;
  opacity: 0;
}

.profile__avatar-overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
